* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

h1{
    font-size: calc(2.2rem + 1vw);
}

/* Estilos gerais */

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.desktop{
    display: auto;
}

.mobile{
    display: none;
}

/* Menu Hamburguer */

.menuBar{
    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.menuBar a{
    color: white;
}

.menuLogo{
    flex: auto;    
}

/* .menuGrid{
    background-color: black;
    min-width: 85%;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    padding: 20px;
} */

.menuInstitucional{
    /* background-color: green; */
    flex: 50%;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
}

.menuInstitucional a{

}

.menuLogin{
    /* background-color: blue; */
    flex: 30%;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5vh;
}

.menuLogin a{

}


/* Hero Banner */

.heroBanner{
    /* background-image: url(/images/bg-pattern-intro-desktop.svg); */
    background-image: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: 24% 53%;
    background-size: auto;
    color: #fff;
    border-radius: 0 0 0 15vh;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    padding-top: 7vh;
}

.cta{
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.callToAction{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.ctaBtn{
    padding: 1vh;
}

.ctaBtn a{

}

.ctaLeft{
    background-color: #fff;
    border: 1px solid white;
    border-radius: 5vh;
    color: hsl(356, 100%, 66%);
    padding: 1.2vh;
}

.ctaLeft:hover{
    background-color: rgba(255, 255, 255, 0.233);
    border: 1px solid rgba(0, 0, 255, 0);
    color: #fff;
}

.ctaRight{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5vh;
    color: #fff;
    padding: 1.2vh;
}


.ctaRight:hover, a:hover{
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}

/* Editor Section */

.editor{
    background-color: transparent;
    margin-top: 17vh;
    height: 90vh;
}

.editor img{
    position: absolute;
    size: 50%;
    right: -27vh;
    top: +88vh;
    width: 50%;
    height: auto;
}

.editorContent{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    align-self: self-start;
    margin-top: 10vh;
}

.editorContent h3{
    gap: 30px;
}

/* Infrastructure Section */

.infrastructure{
    background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%)) ;
    padding: 10vh 0 10vh 0;
    border-radius: 0 10vh 0 10vh;
}
.infrastructure img{
    position: absolute;
    width: 30%;
    right: 110vh;
    height: auto;
}

.infrastructureContent{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 40%;
    align-self: self-end;
    margin-top: 10vh;
    color: #fff;
}

/* Media Queries (aplica regras específicas para mobile) */

@media screen and (max-width: 600px) {
    .menuBar{
        display: none;
    }
    .heroBanner{
        min-height: 60vh;
    }
    .desktop{
        display: none;
    }
    .editor{
        height: 70vh;
    }
    .editorContent{
        width: 100%;
    }
}