* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--text-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--body);
}

a {
    text-decoration: none;
}

h1{
    font-size: var(--header-large);
    font-family: 'Overpass', sans-serif;
    color: var(--text-white);
}

img, svg{
    max-width: 100%;
}

/* Variáveis */

:root {

    /* Colors */
    --text-white: hsl(0, 0%, 100%);
    --text-footer: hsl(240, 2%, 79%);
    --text-heading: hsl(208, 49%, 24%);
    --text-body: hsl(207, 13%, 34%);

    /* Font Sizes */

    --header-large: clamp(32px, 13.8461525px + 4.615385vw, 64px);
    --header-medium: clamp(25px, 14.23px + 3.07vw, 29px);
    --header-small: clamp(20px, 15.69px + 1.23vw, 28px);
    --body-large: 20px;
    --body: 1rem;

    /* Thanks to utopia.fyi */

    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);
    --space-3xl-4xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

}


/* Estilos gerais */

.wrapper{
    /* width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin: var(--space-s-m);
}

.desktop{
    display: auto;
    overflow: hidden;
    position: relative
}

.mobile{
    display: none;
    width: 100%;
    height: auto;
}

.hidden{
    display: none;
}

/* Menu Hamburguer */

.menuBar{
    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.menuBar a{
    color: var(--text-white);
}

.menuLogo{
    flex: auto;    
}

/* .menuGrid{
    background-color: black;
    min-width: 85%;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    padding: 20px;
} */

.menuInstitucional{
    flex: 50%;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;
}


.menuLogin{
    flex: 30%;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5vh;
}

/* Nav (Special thanks to Coding in Public) */

.container{
    margin-inline: var(--space-xs-s);    
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    padding-block: var(--space-m-l);
    inset-inline: var(--space-s-m);
}

.menu-links{
    display: none;
}

.hamburguer-menu{
    background: none;
    border: none;
    cursor: pointer;
}

[aria-label="Homepage"]{
    display: grid; /* TODO:  useful to center image with text, study more */
    place-items: center;
}

/* Header */

header{
    /* TODO: Remove old styles */
    /* 
    min-height: 80vh;
    
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;*/
    color: var(--text-white);
    display: grid;
    place-items: center;
    gap: var(--space-l-xl);
    text-align: center;
    padding: var(--space-3xl-4xl) 2rem;
    background-repeat: no-repeat;
    background-position: 24% 53%;
    background-size: auto;
    background-image: url(/images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0 0 0 var(--space-xl-2xl);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

header p{
    color: var(--text-white);
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

header .background{
    position: absolute;
    z-index: -1;
    scale: 270%;
    top: 80px;
    right: -95px;
}

/* Grids */

.grid-small{
    /* TODO: Remove old styles */
    /* padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    display: grid;
    place-items: center;
    gap: var(--space-2xs-xs);
}

.cta-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--space-2xs-xs);
}

.btn-white{
    background-color: var(--text-white);
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 2rem;
    color: hsl(356, 100%, 66%);
    padding: 0.6rem 1rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    transition: .5s ease-in-out;
}

.btn-white:hover{
    background-color: rgba(255, 255, 255, 0.233);
    border: 1px solid rgba(0, 0, 255, 0);
    color: var(--text-white);
    transition: .5s ease-in-out;
}

.btn-hollow{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2rem;
    color: var(--text-white);
    padding: 0.6rem 1rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    transition: .5s ease-in-out;
}


.btn-hollow:hover{
    background-color: var(--text-white);
    color: hsl(356, 100%, 66%);
    transition: .5s ease-in-out;
}

/* Future Editor Section */

.future-editor{
    display: grid;
    place-items: center;
    gap: var(--space-2xs-xs);
    text-align: center;
    color: var(--text-body);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    padding: var(--space-3xl-4xl) 0;
    position: relative;
    overflow: hidden;
}

.future-editor h2{
    color: var(--text-heading);
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

.future-editor h3{
    padding: var(--space-xs-s) var(--space-m-l);
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: var(--header-medium);
    color: var(--text-heading);
}

.future-mobile-svg{
    padding: 0;
}

.future-desktop-svg{
    padding: 0;
    position: absolute;
    scale: 80%;
    right: -53vh;
    top: 10vh;
    z-index: -4;
}

.editor-content{
    /* TODO: Remove old styles */
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    align-self: self-start;
    margin-top: 10vh; */
    display: grid;
    place-items: center;
    gap: var(--space-xl-2xl);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.editor{
    background-color: transparent;
    margin-top: 17vh;
    height: 90vh;
}

.editor img{
    /* position: absolute;
    size: 50%;
    right: -27vh;
    top: +88vh;
    width: 50%;
    height: auto; */
}

/* Infrastructure Section */

.infrastructure{
    /* padding: 10vh 0 10vh 0;
     */
    display: grid;
    gap: var(--space-xl-2xl);
    text-align: center;
    color: var(--bkg);
    padding-bottom: var(--space-2xl-3xl);
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    position: relative;
    overflow: hidden;
}

.infrastructure p{
    color: var(--text-white);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Overpass', sans-serif;
}

.infrastructure h2{
    color: var(--text-white);
    padding-bottom: var(--space-s-m);
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.infrastructure img{
    /* position: absolute;
    width: 30%;
    top: -70px;
    left: -50px;
    height: auto;
    box-sizing: inherit; */
}

.infrastructureContent{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 40%;
    align-self: self-end;
    margin-top: 10vh;
    color: var(--text-white);
}

.infra-background{
    background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%)) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: absolute;
    inset: var(--space-3xl-4xl) 0 0; /* adiciona um espaço acima. TODO: estudar mais */
    z-index: -2;
    border-radius: 0 10vh 0 10vh;
    overflow: hidden;
}

.infra-background img{
    position: absolute;
    z-index: -1;
    left: 0;
    right:0;
    top: -90px;
    scale: 150%;
}

/* Features */

/* Future Editor Section */

.features-section{
    display: grid;
    place-items: center;
    gap: var(--space-2xs-xs);
    text-align: center;
    color: var(--text-body);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    padding: var(--space-3xl-4xl) 0;
}

.features-section h2{
    color: var(--text-heading);
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

.features-section > h3{
    padding: var(--space-xs-s) var(--space-m-l);
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: var(--header-medium);
    color: var(--text-heading);
}

.future-mobile-svg{
    padding: 0;
}


.features-content{
    /* TODO: Remove old styles */
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    align-self: self-start;
    margin-top: 10vh; */
    display: grid;
    place-items: center;
    gap: var(--space-xl-2xl);
    text-align: center;
}

/* Footer */

footer{
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 10vh;
}

.footer-container{
    margin-inline: 2rem;
    padding: var(--space-3xl-4xl) 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* gap: var(--space-l-xl); */
    color: var(--text-footer);
}

.footer-container a, a:hover{
    text-decoration: none;
}

.footer-container img{
    max-width: 30%;
    margin: var(--space-l-xl);
}

.footer-nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs-s);
}

.section-nav{
    color: var(--text-white);
    padding: var(--space-s-m) 0;
    font-weight: bold;
}

.subsection-nav{
    color: var(--text-footer);
    padding: 0.05vh;
    font-weight: 100;
}


/* Media Queries (aplica regras específicas para mobile e desktop) */

@media screen and (max-width: 600px) {
    .menuBar{
        display: none;
    }
    .heroBanner{
        min-height: 60vh;
    }
    header{
        background-image: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        z-index: 1;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .editor{
        height: 70vh;
    }
    .editorContent{
        width: 100%;
    }
    .infra-background img{

    }
}

@media screen and (min-width: 601px){
    .content-desktop{
        /* max-width: 50%;
        margin: 0;
        padding: 0; */
    }
    .grid-small{
        /* place-items: start;
        text-align: start; */
        /* grid: 100% / auto auto; */
    }

    .desktop-grid{
        display: grid;
        /* grid: 100% / auto auto; */
        grid-template-columns: 40% auto;
        grid-template-rows: auto auto;
        place-items: start;
        text-align: start;
        gap: var(--space-m-l);
    }

    .future-editor h3{
        padding: var(--space-m-l) 0;
    }

    .item1{
        grid-area: 1 / 1;
    }

    .item2{
        grid-area: 2 / 1;
    }

    .wrapper{
        margin: var(--space-l-xl);
    }

}